body {
    margin: auto;
    font-family: sans-serif, serif;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-top: 20px;
}


ul {
    list-style-type: none;
    padding: 0;
}

.logo h2 {
    display: flex;
    padding-left: 20px;
    color: white;
    align-items: center;
}



.logo img {
    width: 150px;
    height: auto;
}

.navigation {
    padding: 0px 60px;

}

.navigation a {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(32, 134, 32);
    font-weight: 600;
    font-size: 18px;
}

.squad:hover {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(203, 219, 203);
    font-weight: 600;
    font-size: 18px;
    transition: ease-out 0.3s;
}

.schedule:hover {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(203, 219, 203);
    font-weight: 600;
    font-size: 18px;
    transition: ease-out 0.3s;
}

.media:hover {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(203, 219, 203);
    font-weight: 600;
    font-size: 18px;
    transition: ease-out 0.3s;
}

 .shop:hover {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(203, 219, 203);
    font-weight: 600;
    font-size: 18px;
    transition: ease-out 0.3s;
}

.tickets:hover {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(203, 219, 203);
    font-weight: 600;
    font-size: 18px;
    transition: ease-out 0.3s;
}


li {
    display: inline;
}

/* Upper Content .upper, .uc */

.upper-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;

}

.uc-right {
    display: flex;
    justify-content:space-between;
    padding-left: 0;
    padding-right: 60px;
    padding-bottom: 25px;
}

.upper-image {
    width: 420px;
    height: auto;
    border-radius: 6px;
}


.uc-left {
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: white;
    align-items: center;
}

.top-h2 {
    margin: 0;
    color: rgb(32, 134, 32);
}

.h2-header {
    margin: 0;
    padding-top: 20px;
}

.header-txt {
    margin: 0;
    padding: 20px;
    text-align: center;

}

.button1 {
    font-size: 26px;
    width: 160px;
    height: auto;
    border-radius: 10px;
    border-color: white;
    background-color: #3882F6;
    color: white;
    font-weight: 500;
    border-style: solid;
    margin-top: 25px;
    border-radius: 10px;

}

.button1:hover {
    font-size: 26px;
    width: 160px;
    height: auto;
    border-radius: 10px;
    border-color: #3882F6;
    background-color: white;
    color: #3882F6;
    font-weight: 500;
    border-style: solid;
    margin-top: 25px;
    border-radius: 10px;
    transition: ease-out 0.3s;

}

.mc-para {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 26px;
    color: #1F2937;
    margin: 12px;
}

.mc-top {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 36px;
}

.ls {
    display: flex;
    gap: 20px;
}

.home, .away {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-weight: 700;
    color: rgb(16, 82, 16);

}

.result {
    display: flex;
    margin: 0;
    padding-top: 20px;
    font-weight: 900;
}

.mc-top img {
    width: 75px;
    height: auto;
}

/*** Latest News ***/

.mc-middle {
    background-color: #E5E7EB;
    padding: 0 50px;
}

.ls-news {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.news-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 26px;
    color: #1F2937;
    padding:25px 0;
    margin: 0;
}

.news, img {
    width: 300px;
    height: auto;
    display: grid;
    justify-items: end;
    border-radius: 10px;
}

.quote-text, a {
    font-size: 16px;
    text-align: left;
    color: #1a2535;
    margin: 0;
    padding: 10px 0;
    text-decoration: none;
}

.quote-name {
    color: #1a2535;
    font-style: italic;
    font-size: 12px;
    float: right;
    margin: 0;
    padding: 10px 0;
}

.mc-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    background-color: #1F2937;
    padding: 0 66px;
    color: white;
    width: 700px;
    height: auto;
    margin: 40px auto;
}

.mc-lower-text {
    padding: 10px 0;
}

.newsletter {
    font-weight: 600;
    padding-bottom: 15px;
}

.button2 {
    font-size: 24px;
    width: 250px;
    height: auto;
    border-radius: 10px;
    background-color: #1F2937;
    color: white;
    border-color: white;
    padding: 4px 0;
    border-style:solid;
}

.button2:hover {
    font-size: 24px;
    width: 250px;
    height: auto;
    border-radius: 10px;
    border-color: #1F2937;
    background-color: white;
    color: #1F2937;
    font-weight: 500;
    border-style: solid;
    border-radius: 10px;
    transition: ease-out 0.3s;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 10px 0;
}